---
import Layout from '../layouts/Layout.astro';
import ProjectList from '../components/ProjectList';
---

<Layout title="MINOX | VISUAL ARCHIVE">
    <div class="max-w-7xl mx-auto mt-12 px-6 pb-20">
        
        <ProjectList client:only="react" />
        
    </div>
</Layout>